.schedule-header {
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
    padding-left: 10%;
    padding-right: 5%;
    width: 100%;
}

.schedule-page-title {
    font-size: 24px;
    font-weight: 600;
}

.schedule-header .search {
    width: 50%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: var(--light-grey);
}

.schedule-header .search i {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.schedule-header .search input {
    width: 100%;
    min-width: 128px;
    height: 2.5em;
    padding: 0 1em;
    font-size: 16px;
    border: solid 1px var(--dark);
    border-radius: 10px;
}

.tools {
    display: flex;
    flex-flow: column;
    width: 13%;
}

.new-schedule {
    border: none;
    color: var(--light);
    background-color: var(--accent);
    padding: 0.5em 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
}

.schedule-filter {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.schedule-list {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* z-index: 1; */
    font-size: 16px;
    width: 100%;
    padding: 0 10%;
}

.schedule-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.schedule-list .schedule-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: var(--light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.schedule-list .schedule-item .schedule-detail {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
}

.schedule-detail-info-top {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.schedule-action {
    align-self: flex-end;
    height: 2em;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    background-color: var(--danger);
    color: var(--light);
    padding: 0 0.5em;
    cursor: pointer;
}

.schedule-detail-info-bottom {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.schedule-detail-info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.schedule-status::before {
    content: '';
    background-color: var(--accept);
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    margin-right: 0.5em;
    border-radius: 50%;
}

.schedule-status {
    text-transform: capitalize;
}

.schedule-form {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 2em 5em;
    z-index: 2;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1em;
    color: var(--dark);
    min-width: min-content;
}

.cover{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.schedule-form input,
.schedule-form textarea {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid var(--dark);
    resize: none;
}

.schedule-form button {
    grid-column: 2/3;
    place-self: end;
    width: max-content;
    padding: 0.7em 2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--accent);
    color: var(--light);
}

.hidden{
    display: none;
}

.schedule-form h2 {
    grid-column: 1/3;
    text-align: center;
}

@media (max-width: 600px) {
    .schedule-item {
        width: 100%;
        height: 250px;
        padding: 0 0;
        display: flex;
        flex-flow: row;
    }

    .schedule-detail {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        max-width: 100%;
    }

    .schedule-icon {
        width: 70px;
        min-width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: red;
        margin-right: 10px;
    }
    .schedule-detail-info {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        padding: 20px 10px;
    }
    .schedule-detail-info-top {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    .schedule-detail-info-bottom {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    /* .schedule-action{
        align-self: flex-end;
        width: 50px;
        height: 40px;
        border-radius: 4px;
        border: solid 1px var(--dark);
        margin-top: 10px;
        background-color: var(--light-grey);
        z-index: 300;
        margin-bottom: 15px;
    } */
    .schedule-header {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 0;
    }
    .schedule-page-title {
        margin: 20px 0;
    }
    .schedule-header .search {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        width: 65%;
        height: 100%;
        padding: 0 0;
        margin: 10px 0;
    }
    .new-schedule {
        border: none;
        color: var(--light);
        background-color: var(--accent);
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin: 10px 0;
        align-self: center;
    }
    .tools {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 0;
    }
    .schedule-filter {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0;
        font-size: 16px;
        width: 100%;
        padding: 0 30%;
        align-self: center;
    }
}
